* {
     font-family: Arial, Helvetica, sans-serif;
}

caption {
     text-align: left;
     font-weight: bold;
     margin-bottom: 10px;
}

th, tr, td {
     padding: 10px;
}

.produtos-moda th {
     background-color: #bb86fc;
     color: #ffffff;
}

.produtos-casa th {
     background-color: #00c4b4;
     color: #ffffff
}
.produtos-moda td, .produtos-casa td {
     background-color: #424250;
     color: #ffffff
}


