* {
     font-family: Arial, Helvetica, sans-serif;
}

.text-1 {
     background-color: #f5f5f5;
     margin-bottom: 40px;
     padding: 20px;
}

.text-2 {
     font-weight: bolder;
     background-color: #f0cce2;
     margin-bottom: 40px;
     padding: 20px;
}

div p{
     display: inline;
}